#map

a.btn.gps-connect Connect

video(src="streamingvideo/front/stream_ep_128k.m3u8",preload,autoplay)
video(src="streamingvideo/back/stream_ep_128k.m3u8",preload,autoplay)

.container
	canvas#control(width="768", height="404")
