#map

a.btn.gps-connect Connect

.container
	canvas#control(width="768", height="404")

video(width="640", height="480", controls="controls", style="position: absolute; top: 30px; left: 0px;")
	source(src="http://localhost:8090/webcam.ffm", type="video/mpjpg")
