!!!5
html(lang="en")
	head
		title Raspberry Boat
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(name="apple-mobile-web-app-capable", content="yes")
		link(href="/stylesheets/main.css", rel="stylesheet", type="text/css")
	body
		.container!= body

		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(src="/nowjs/now.js")
		script(src="http://maps.googleapis.com/maps/api/js?libraries=geometry&amp;key=AIzaSyC4pr46Z0HwJNejoIrDBaEDVc9zTyw863I&amp;sensor=true")
		script(src="/javascripts/module.js")
		script(src="/javascripts/map.js")
		script(src="/javascripts/joystick.js")
		script(src="/javascripts/main.js")