!!!5
html(lang="en")
	head
		title Raspberry Boat
		link(href="/stylesheets/main.css", rel="stylesheet", type="text/css")
	body
		.container!= body

		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(src="/nowjs/now.js")
		script(src="http://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyC4pr46Z0HwJNejoIrDBaEDVc9zTyw863I&sensor=true")
		script(src="/javascripts/module.js")
		script(src="/javascripts/map.js")
		script(src="/javascripts/main.js")