!!!5
html(lang="en")
	head
		title Raspberry Boat
		link(href="/stylesheets/main.css", rel="stylesheet", type="text/css")
	body
		.container!= body

		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(src="http://localhost:8080/nowjs/now.js")
		script(src="http://maps.googleapis.com/maps/api/js?sensor=true")
		script(src="/javascripts/map.js")